@using Wy.Hr.Models
@model DepartmentModel
@{
    ViewBag.Title = "部门信息详情";
}
@Html.Partial("Navigation", "departmentList")
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <ol class="page-header breadcrumb">
                    <li><a href="/Home/Index">首页</a></li>
                    <li><a href="/Department/List">部门管理</a></li>
                    <li class="active">部门信息详情</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">部门基本信息</h3></div>
                    <div class="panel-body">
                        <div class="col-md-1 detailDiv detailTh">部门编号</div>
                        <div class="col-md-11 detailDiv">@Model.No</div>
                        <div class="clearfix"></div>
                        <div class="col-md-1 detailDiv detailTh">地区</div>
                        <div class="col-md-11 detailDiv">@Model.Area</div>
                        <div class="clearfix"></div>
                        <div class="col-md-1 detailDiv detailTh">部门名称</div>
                        <div class="col-md-11 detailDiv">@Model.Name</div>
                        <div class="clearfix"></div>
                        <div class="col-md-1 detailDiv detailTh">上级部门</div>
                        <div class="col-md-11 detailDiv">@Model.ParentName</div>
                        <div class="clearfix"></div>
                        <div class="col-md-1 detailDiv detailTh">级别</div>
                        <div class="col-md-11 detailDiv">@Model.Grade</div>
                        <div class="clearfix"></div>
                        <div class="col-md-1 detailDiv detailTh">编制人数</div>
                        <div class="col-md-11 detailDiv">@Model.NumOfPreparation</div>
                        <div class="clearfix"></div>
                        <div class="col-md-1 detailDiv detailTh">在职人数</div>
                        <div class="col-md-11 detailDiv">@Model.StaffNum</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- /col-md-8 -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">负责人信息</h3></div>
                    <div class="panel-body">
                        <div class="col-md-3 detailDiv detailTh">负责人</div>
                        <div class="col-md-9 detailDiv">@Model.ChiefName</div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 detailDiv detailTh">职位</div>
                        <div class="col-md-9 detailDiv">@Model.ChiefName</div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 detailDiv detailTh">联系电话</div>
                        <div class="col-md-9 detailDiv">@Model.ChiefMoble</div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 detailDiv detailTh">邮箱</div>
                        <div class="col-md-9 detailDiv">@Model.ChiefEmail</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /panel -->
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">记录信息</h3></div>
                    <div class="panel-body">
                        <div class="col-md-3 detailDiv detailTh">最近修改日期</div>
                        <div class="col-md-9 detailDiv">@Model.LastUpdateDate.ToString("yyyy-MM-dd")</div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 detailDiv detailTh">修改人</div>
                        <div class="col-md-9 detailDiv">@Model.Updater</div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 detailDiv detailTh">创建日期</div>
                        <div class="col-md-9 detailDiv">@Model.CreateDate.ToString("yyyy-MM-dd")</div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 detailDiv detailTh">创建人</div>
                        <div class="col-md-9 detailDiv">@Model.Creator</div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 detailDiv detailTh">备注</div>
                        <div class="col-md-9 detailDiv">@Model.Remark</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- /col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
</div>