<nav class="navbar navbar-default top-navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">企业办公管理系统</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/message/list"><i class="fa fa-envelope"></i>消息</a>
        </li>
        <li>
            <a href="~/user/userProfile"><i class="fa fa-user"></i>我的资料</a>
        </li>
        <li>
            <a href="/home/logout/"><i class="fa fa-sign-out fa-fw"></i>退出</a>
        </li>
        <!-- /.dropdown -->
    </ul>
</nav>
<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li class="@(Model=="homeindex"?"active":"")">
                <a href="/" class="@(Model == "homeindex" ? "active-menu" : "")"><i class="fa fa-home"></i>全局首页</a>
            </li>

            <li class="@("departmentList".Contains(Model) ? "active" : "")">
                <a href="#"><i class="fa fa-sitemap"></i>部门管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(Model == "departmentList" ? "active-menu" : "")"><a href="/department/list"><i class="fa fa-sitemap"></i>部门管理</a></li>
                </ul>
            </li>

            <li class="@("taskList".Contains(Model) ? "active" : "")">
                <a href="#"><i class="fa fa-tasks"></i>任务管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(Model == "taskList" ? "active-menu" : "")"><a href="/task/List"><i class="fa fa-tasks"></i>任务管理</a></li>
                </ul>
            </li>

            <li class="@("".Contains(Model) ? "active" : "")">
                <a href="#"><i class="fa fa-sitemap"></i>个人管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(Model == "msgList" ? "active-menu" : "")"><a href="/message/index"><i class="fa fa-envelope"></i>消息中心</a></li>
                </ul>
            </li>

            <li class="@("userList,roleList,authorityList,configParams".Contains(Model) ? "active" : "")">
                <a href="#"><i class="fa fa-cog"></i>系统管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(Model == "userList" ? "active-menu" : "")"><a href="/user/list"><i class="fa fa-user"></i>用户管理</a></li>
                    <li class="@(Model == "roleList" ? "active-menu" : "")"><a href="/role/list"><i class="fa fa-laptop"></i>角色管理</a></li>
                    <li class="@(Model == "authorityList" ? "active-menu" : "")"><a href="/authority/list"><i class="fa fa-laptop"></i>权限管理</a></li>
                    <li class="@(Model == "configParams" ? "active-menu" : "")"><a href="/configParams/list"><i class="fa fa-cog"></i>系统参数</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>